@import '~bootstrap/scss/bootstrap';


body {
  background-color: rgba(0, 0, 0, .8)
}

.upper-bar {
  // border: 1px dotted black;
  position: fixed;
  width:100vw;
  height: 50px;
  background-color: rgba(180, 159, 142, 1);
  z-index: 1;
}

.sign-up {
  position: relative;
  // border: 1px solid black;
  height: 90%;
  width: 7%;
  left: 13px;
  bottom: -3px;
}

.sign-in {
  position: relative;
  // border: 1px solid black;
  height: 90%;
  width: 8%;
  left: 101px;

  bottom: 42px;
}

.message-box {
  position: fixed;
  // border: 1px solid black;
  display: inline-block;
  margin-left: auto;
  left: 220px;
  width: 300px;
  height: 35px;
  color: white;
  bottom: 615px;

}

.main-content {
  position: relative;
  bottom: -80px;
}
.upload-flyer {
  position: relative;
  // border: 1px solid black;
  // height: 85%;
  width: 120px;
  // left: 940px;
  // bottom: 0px;
  display: inline-block;
  margin-left: auto;
  left: 500px;

}

.all-flyers {
  padding: 0px;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.flyerImages {
  position: relative;
  display: inline-block;
  margin: auto;
  width: 400px;
  height: 500px;
  left: 100px;
  padding: 70px;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.change-password {
  position: relative;
  display: inline-block;
  margin-left: auto;
  left: 510px;

}

.sign-out {
  position: relative;
  display: inline-block;
  margin-right: auto;
  left: 570px;
  bottom: -5px;
}

.message-container {
  background-color: rgba(180, 159, 142, .8);
  position: relative;
  // border: 1px solid black;
  width: 21%;
  height: 200px;
  left: 500px;
  text-align: center;
  word-wrap: break-word;
  bottom: -150px;
  justify-content:center;

}

p {
  position: relative;
  bottom: 0px;
  left: 20px;
  bottom: -10px;
  color: white;
}

.message-container > p {
  position: relative;
  // border: 1px solid black;
  word-wrap: break-word;
  width: 250px;
  left: 0px;

}

.first-message {
  position: relative;
  bottom: 0px;
  width: 290px;
  // border: 1px solid black;
  text-align: justify;

}

.next {
  color: white;
}

.signed-in-box {
  position: relative;
  width: 30%;
  left: 290px;
}

#sign-out {
  position: relative;
  bottom: -5px;
}
