@import '~bootstrap/scss/bootstrap';


body {
  background-color: rgba(0, 0, 0, .5)
}

.upper-bar {
  // border: 1px dotted black;
  height: 50px;
  background-color: rgba(180, 159, 142, .8);
}

.sign-up {
  position: relative;
  // border: 1px solid black;
  height: 90%;
  width: 7%;
  left: 13px;
  bottom: -3px;
}

.sign-in {
  position: relative;
  // border: 1px solid black;
  height: 90%;
  width: 8%;
  left: 101px;

  bottom: 42px;
}

.message-box {
  position: fixed;
  // border: 1px solid black;
  display: inline-block;
  margin-left: auto;
  left: 220px;
  bottom: 607px;
  width: 300px;
  height: 45px;

}


.upload-flyer {
  position: fixed;
  // border: 1px solid black;
  // height: 85%;
  width: 120px;
  // left: 940px;
  // bottom: 0px;
  display: inline-block;
  margin-left: auto;
  left: 715px;
  bottom: 610px;

}
.change-password {
  position: relative;
  // border: 1px solid black;
  // height: 85%;
  // width: 13%;
  // left: 940px;
  // bottom: 0px;
  display: inline-block;
  margin-left: auto;
  left: 900px;

}

.sign-out {
  position: relative;
  // border: 1px solid black;
  // height: 85%;
  // width: 10%;
  // left: 1110px;
  // bottom: 0px;
  display: inline-block;
  margin-right: auto;
  left: 1000px;
  bottom: -5px;
}

.message-container {
  background-color: rgba(180, 159, 142, .8);
  position: relative;
  // border: 1px solid black;
  width: 21%;
  height: 200px;
  left: 500px;
  text-align: center;
  word-wrap: break-word;
  bottom: -150px;
  justify-content:center;

}

p {
  position: relative;
  bottom: 0px;
  left: 20px;
  bottom: -10px;
  color: white;
}

.message-container > p {
  position: relative;
  // border: 1px solid black;
  word-wrap: break-word;
  width: 250px;
  left: 0px;

}

.first-message {
  position: relative;
  bottom: 0px;
  width: 290px;
  // border: 1px solid black;
  text-align: justify;

}

.next {
  color: white;
}

#sign-out {
  position: relative;
  bottom: -5px;
}
