@import '~bootstrap/scss/bootstrap';


body {
  background-color: rgba(0, 0, 0, .8)
}

.upper-bar {
  // border: 1px dotted black;
  position: fixed;
  display: flex;
  flex-direction: row;
  width:100vw;
  height: 50px;
  background-color: rgba(180, 159, 142, 1);
  z-index: 1;
}

.sign-up {
  position: relative;
  // border: 1px solid black;
  height: 90%;
  width: 7%;
}

.sign-in {
  position: relative;
  // border: 1px solid black;
  height: 90%;
  width: 8%;
}

.message-box {
  position: relative;
  // border: 1px solid black;
  display: inline-block;
  width: 300px;
  height: 35px;
  color: white;
  bottom: -5px;

}

.main-content {
  position: relative;
  bottom: -80px;
  width: 100%;
  white-space: nowrap;
}

.upload-flyer {
  position: relative;
  // border: 1px solid black;
  // height: 85%;
  width: 120px;
  // left: 940px;
  // bottom: 0px;
  display: inline-block;
  margin-left: auto;
  left: 500px;
  bottom: 10px;
}

.all-flyers {
  padding: 0px;
  width: 100vw;
  text-align: center;
  display: inline-block;
  justify-content: space-evenly;
  flex-direction: row;
  text-align: center;
}

.flyerImages {
  position: relative;
  margin: auto;
  width: 100vw;
  height: 500px;
  display: inline-block;
  flex-direction: column;
}

img {
  // padding: 50%;
  max-height: 100%;
  max-width: 100%;
}

.change-password {
  position: relative;
  display: inline-block;
  margin-left: auto;
  left: 510px;
  bottom: 10px;

}

.sign-out {
  position: relative;
  display: inline-block;
  margin-right: auto;
  left: 570px;
  bottom: 4px;
}

.message-container {
  background-color: rgba(180, 159, 142, .8);
  position: relative;
  width: 100vw;
  height: 100vh;

}

p {
  position: relative;
  bottom: 0px;
  left: 20px;
  bottom: -10px;
  color: white;
}

.message-container > p {
  position: relative;
  // border: 1px solid black;
  word-wrap: break-word;
  width: 250px;
  left: 0px;

}

.first-message {
  position: relative;
  bottom: 0px;
  width: 290px;
  // border: 1px solid black;
  text-align: justify;

}

.next {
  color: white;
}

.signed-in-box {
  display: flex;
  align-self: flex-end;
  justify-content: space-evenly;
}
//
// .flyer-Image {
//   display: flex;
//   flex-direction: column;
// }

// .delete-flyer {
//   position: relative;
//   left: -200px;
// }
//
// .edit-flyer {
//   position: relative;
//   left: -200px;
// }
#sign-out {
  position: relative;
}
